.banner {
    height: 460px;
}

/* @media only screen and (min-width: 728px) {
    .search {
        width: 400px;
    }
}

@media only screen and (min-width: 425px) {
    .search {
        width: 80%;
    }
}

@media only screen and (min-width: 320px) {
    .search {
        width: 100%;
    }
} */